<mat-card class="card-user">
  <mat-card-title>{{user ? 'Novo ' : 'Editar '}} Usuário</mat-card-title>
  <mat-card-content>
    <div class="example-container">
      <mat-form-field appearance="fill">
        <mat-label>Nome Completo</mat-label>
        <input matInput placeholder="Ex: Ana Maria Silva" [formControl]="name" required>
        <mat-error *ngIf="name.invalid">O nome é obrigatório.</mat-error>
      </mat-form-field>
    </div>
    <div class="example-container">
      <mat-form-field appearance="fill">
        <mat-label>Endereço de e-mail</mat-label>
        <input matInput placeholder="Ex: meuemail@example.com" [formControl]="email" required>
        <mat-error *ngIf="email.invalid">{{pegarMensagemErro()}}</mat-error>
      </mat-form-field>
    </div>
    <div class="example-container">
      <mat-form-field appearance="fill">
        <mat-label>Cargo do Funcionario</mat-label>
        <mat-select [formControl]="role" required>
          <mat-option *ngFor="let row of userRoles" [value]="row.id">
            {{row.name}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  </mat-card-content>
  <mat-card-actions align="end">
    <button mat-button routerLink="/dashboard">Voltar</button>
    <button mat-button (click)="cadastrar()">Cadastrar</button>
  </mat-card-actions>
</mat-card>
