<div class="container-login">
  <mat-card class="card-user">
    <mat-card-title>Bem vindo,</mat-card-title>
    <mat-card-subtitle>informe seu email e a senha para acessar o portal.</mat-card-subtitle>
    <mat-card-content class="card-content-user">

      <div class="example-container">
        <mat-form-field appearance="fill">
          <mat-label>E-mail</mat-label>
          <input matInput placeholder="Ex: meuemail@example.com" [formControl]="email" required>
          <mat-error *ngIf="email.invalid">{{pegarMensagemErro()}}</mat-error>
        </mat-form-field>
      </div>

      <div class="example-container">
        <mat-form-field appearance="fill">
          <mat-label>Senha</mat-label>
          <input matInput placeholder="Informe sua senha" [formControl]="password" required type="password">
          <mat-error *ngIf="password.invalid">A senha é obrigatória.</mat-error>
        </mat-form-field>
      </div>
      <div *ngIf="error" class="example-container text-center text-error">
        <h3>{{error}}</h3>
      </div>


    </mat-card-content>
    <mat-card-actions align="end">
      <button mat-button (click)="acessar()">Acessar</button>
    </mat-card-actions>
  </mat-card>
</div>
